body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* hero start / items: .nav .content-header */
.header {
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

/* nav start / items: .logo .nav-links */
.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    flex-shrink: 0;
}

.logo {
    text-decoration: none;
    font-size: 28px;
    font-weight: bolder;
    color: #F9FAF8;
}

.nav-links {
    display: flex;
    gap: 15px;
    font-size: 18px;
}

.nav-links a {
    text-decoration: none;
    color: #E5E7EB;
}
/* nav end */

/* content header start / items: .text, img */
.content-header {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
    flex-wrap: wrap;
}

/* text start / items: .title, p, button */
.text {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    font-size: 18px;
    flex-basis: 490px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.text button {
    align-self: flex-start;
    border: 0 solid;
    border-radius: 8px;
    background-color: #3882F8;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 8px 40px;
    cursor: pointer;
}
/* text end */

/* img start */
img {
    max-width: 100%;
    height: auto;
}
/* img end */
/* content end */
/* header end */


/* info start / items: info-title, .info-content */
.info {
    padding: 0 15%;
    display: flex;
    flex-direction: column;
}

/* info-title start */
.info-title {
    align-self: center;
    padding: 50px 0px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
/* info-title end */

/* info-content start / items: .info-content-bottom */
.info-content {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* info-content-bottom start / items: block, p */
.info-content-bottom {
    display: flex;
    flex-direction: column;
}

.info .block {
    width: 150px;
    height: 150px;
    margin: 0 30px;
    /* background-color: #cfcdcd; */
    border: 3px solid #3882F8;
    border-radius: 8px;
}

.info p {
    align-self: center;
    text-align: center;
    font-size: 18px;
    width: 170px;
    color: #1f2937a9;
}
/* info-content-bottom end */
/* info content end */
/* info end */